header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px 0 8px 0;
}

header .logo img {
  height: 30px;
}

header .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 12px;
  background: rgba(181, 180, 180, 0.285);
  border-top: 2px solid rgba(128, 128, 128, 0.285);
  width: 100%;
  height: 60px;
}

header .location i {
  margin-right: 20px;
}

header .discovery {
  width: 87%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

header .discovery a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: 1px solid rgba(128, 128, 128, 0.285);
  background: linear-gradient(354deg, rgb(202, 86, 220) 35%, rgb(236, 209, 209) 98%);
  border-radius: 50px;
  height: 50px;
  width: 70%;
  margin: 0 auto;
  cursor: pointer;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 12px;
  background: rgba(181, 180, 180, 0.285);
  border-top: 2px solid rgba(128, 128, 128, 0.285);
  width: 100%;
  height: 60px;
}
.location i {
  margin-right: 20px;
}

.discovery {
  width: 87%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.discovery a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: 1px solid rgba(128, 128, 128, 0.285);
  background: linear-gradient(354deg, rgb(202, 86, 220) 35%, rgb(236, 209, 209) 98%);
  border-radius: 50px;
  height: 50px;
  width: 70%;
  margin: 0 auto;
  cursor: pointer;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fonctionnement__title {
  margin-bottom: 30px;
}
.fonctionnement__number-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20;
  border: 1px solid #9356dc;
  background: #9356dc;
  color: whitesmoke;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.fonctionnement__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  gap: 30px;
  margin-left: 30px;
}
.fonctionnement li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0px solid #9356dc;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 350px;
  height: 70px;
  gap: 20px;
  margin-bottom: 20px;
}

@font-face {
  font-family: "Roboto";
  src: url(/Sass/Base/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(/Sass/Base/fonts/Shrikhand-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 415;
}

p {
  font-family: "Roboto";
}

h1,
h2,
h3 {
  font-family: "Shrikhand";
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */