header {
  display: flex;
  text-align: center;
  align-items: center;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
}
header .logo img {
  height: 28px;
}
header .return-home i {
  padding-left: 20px;
  margin-right: -20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.5);
  }
}
