main {

  .background-top-lapalette {
    background: url(./asset/pictures/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg)
      no-repeat center/cover;
    width: 100%;
    height: 435px;
  }
  .background-top-lanote {
    background: url(/asset/pictures/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg)
      no-repeat center/cover;
    width: 100%;
    height: 235px;
  }
  .background-top-lafrancaise {
    background: url(/asset/pictures/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg)
      no-repeat center/cover;
    width: 100%;
    height: 235;
  }
  .background-top-ledelice {
    background: url(/asset/pictures/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg)
      no-repeat center/cover;
    width: 100%;
    height: 235px;
  }

}
